{% extends 'accounting/base.html' %}
{% block title %}Trial Balance{% endblock %}
{% block content %}
<h2>Trial Balance</h2>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr><th>Account Code</th><th>Account Name</th><th>Debit</th><th>Credit</th></tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.account.account_code }}</td>
            <td>{{ row.account.name }}</td>
            <td>{{ row.debit|floatformat:2 }}</td>
            <td>{{ row.credit|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="table-secondary"><th colspan="2">Total</th><th>{{ total_debit|floatformat:2 }}</th><th>{{ total_credit|floatformat:2 }}</th></tr>
    </tfoot>
</table>
{% endblock %}
